[submodule "bling"]
    path = awesome/.config/awesome/module/bling
    url = https://github.com/Nooo37/bling.git
    branch = master

[submodule "rubato"]
    path = awesome/.config/awesome/module/rubato
    url = https://github.com/andOrlando/rubato.git
    branch = master

[submodule "farbig"]
    path = wezterm/.config/wezterm/farbig
    url = https://github.com/Nooo37/farbig.git
    branch = master
