.bg-color {
    background-color: #1A202600;
}

.bg-a {
    background-color: #CD84C8;
}

.ws-popup {
    background-color: #CD84C8;
    border: 2px;
    border-color: #526170;
}

.bg-b {
    background-color: #C269BC;
}

.secondary-bg {
    background-color: #526170;
}

.workspace-highlighter {
    background-color: #58D6BF;
}

.time-bg {
    background-color: #6CCB6E;
}

.red-bg {
    background-color: #F46666;
}

.blue-bg {
    background-color: #4CB9D6;
}

.violet-bg {
    background-color: #CD84C8;
}

