$background-1: @background@;
$background-2: @color0@;
$background-3: @color0@;

$accent-1: @color1@;
$accent-2: @color3@;
$accent-3: @color3@;
$accent-4: @color2@;
$accent-5: @color4@;
$accent-6: @color6@;
$accent-7: @color5@;
$accent-8: @color2@;

$primary-accent: $accent-4;
$secondary-accent: $accent-4;

$foreground-color: @foreground@; 

@define-color borders #{"" +$background-2};
